//@import 'Src/scss/normalize';
@import 'materialize-css';
@import 'swiper/css/swiper';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.header__title {
  font-size: 3rem;
}

.header__description {
  @extend .teal-text;

}

.sidenav-trigger {
  position: absolute;
  top: 20px;
  right: 20px;
  @extend .teal-text, .text-lighten-2;
}

.sidenav-close {
  @extend .teal-text, .text-lighten-2;
}

.statistics {  
  & blockquote {
    margin-left: 5px;
    background: rgb(224,242,241);

    & .statistics__new-words-num, 
    .statistics__correct-answers, 
    .statistics__total-cards, 
    .statistics__correct-in-row  {
      font-size: 2rem;
      font-weight: bold;  
    }

    & .statistics__new-words-num {
      @extend .deep-orange-text, .text-lighten-2;
    }

    & .statistics__correct-answers {
      @extend .green-text, .text-lighten-2;
    }
    
    & .statistics__total-cards {
      @extend .grey-text;
    }

    & .statistics__correct-in-row {
      @extend .cyan-text;
    }
  }
}

.cards-container {
  width: 100%;
}

.swiper-container {
  width: 50%;
  max-width: 400px;
  border: 2px solid #bdbdbd;
  border-radius: 2px
}

.swiper-slide {
  margin: 0;
  
}

.card-image img{
  height: 50%!important;
}

.img-placeholder {
  display: block;
  background-color: #80cbc4;
  border-radius: 2px 2px 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card-content .input_text {
  display: inline-block;
  border: 2px solid #80cbc4!important;
  border-radius: 5px!important;
  font-size: 2rem!important;
}

.footer-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & .btn-large {
    margin: 0 5px; 
  }
}

.progress {
  width: 90%;
  margin: 20px auto;
}