@import '../../scss/normalize';

.navigation-block {
  display: flex;
}

.navigation-menu-btn {
  border: 0;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.burger-btn-icon {
  width: 35px;
}

.game-wrapper {
  padding: 50px;
}

.word-image-element {
  width: 200px;
  height: 200px;
}

.audio-element {
  width: 200px;
  height: 200px;
  background-image: url("assets/img/sound.png");
  background-position: center;
  background-size: 100px;
  background-repeat: no-repeat;
}

.words-translations-block {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.word-image-element {
  display: none;
}

.puzzled-word-element {
  display: none;
}

.correct {
  border: green solid 1px;
}

.wrong {
  border: red solid 1px;
}

.previous-round {
  display: none;
}

.next-round {
  display: none;
}

.answered {
  display: block;
}
