@import 'Src/scss/normalize';
@import 'Src/scss/components';


body {
  padding: 50px;
}

.page {
  &__input-words-example {
    width: 50px;
  }

  &__input-words-ppage {
    width: 50px;
  }

  &__words-button {
    margin-top: 20px;
  }

  &__la-pic-wrapper {
    height: 50px;
    width: 100px;
  }
}
