.draggable,
.droptarget {
  text-align: center;
  color: white;
  font-size: 2rem;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.droptarget {
  transition: border-width 0.5s linear;
}

.card {
  transition: 0.5s;

  .card-content {
    padding: 0;
    border-radius: 0 0 2px 2px;
    height: 100%;

    .card-title {
      color: $text-color;
    }
  }
}

.card {
  // background-color: grey;
  cursor: move;

  img {
    border-style: none;
    display: block;
    height: 100%;
    width: 100%;
  }

  &:active {
    transform: scale(1.3);
    z-index: 1000;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}
