$text-color: #123d39;

body {
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  background-repeat: no-repeat;
  color: $text-color;
  min-height: 100vh;
}

.bg {
  background-image: url(./assets/img/bg-climb.png);
  background-size: cover;
  background-position: center;
}

.main {
  visibility: visible;
  transition: 0.5s;
  width: 95vw;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
  display: none;

  opacity: 0;
}

.res {
  justify-content: space-between;
  height: 40px;
  margin: 20px auto 40px;
  align-items: baseline;
  display: flex;
  width: 100%;
}

.col {
  position: relative;
}
