.sidenav-trigger {
  position: absolute;
  top: 20px;
  color: #fff;
}

.user-words {
  padding: 0 32px;
}

.level-select,
.range-field,
.round-select {
  padding-left: 20px;
}

.sidenav .user-view {
  padding-top: 0;
}

.home {
  position: absolute;
  right: 20px;
}
