.navigation-block {
  display: flex;
  justify-content: space-between;
}

.navigation-menu-btn {
  border: 0;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.burger-btn-icon {
  width: 35px;
}
