.intro-page {
  position: absolute;
  left: 0;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro {
  width: 80%;
  margin: 10% 20px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
}

.title {
  font-size: 40px;
  font-weight: 300;
  margin: -100px auto 40px;
  letter-spacing: 13px;
  text-transform: uppercase;
  color: #000;
}

.intro-text {
  font-size: 2em;
  font-weight: 400;

  max-width: 1000px;
  margin: 0 auto 60px;
  color: #1a237e;
}

.btn.intro-btn {
  font-weight: 300;
}
