.nav-wrapper h1 {
  height: 64px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 64px;
}

nav a.sidenav-trigger {
  margin: 0 20px;
}

.sidenav-trigger {
  position: absolute;
  top: 20px;
  color: #fff;
}

.level-select,
.range-field,
.round-select {
  padding-left: 20px;
}

.sidenav .user-view {
  padding-top: 0;
}

.home {
  position: absolute;
  right: 20px;
}

.sidenav li.avatar {
  img {
    margin-top: 10px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #80cbc4;
    box-shadow: 0 0 0 4px hsla(0, 0%, 100%, 0.2);
  }

  .avatar__name {
    padding-bottom: 20px;
    line-height: 110%;
  }
}
