@import 'Src/scss/normalize';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

.intro,
.results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  transition: .5s;
  background-image: url(../assets/img/bg2.png);
  background-size: cover;
}

.results {
  top: 80px;
}

.title {
  font-size: 40px;
  margin: -100px auto 40px;
  color: #6cffde;
  opacity: .8;
  text-transform: uppercase;
  letter-spacing: 13px;
  font-weight: 300;
}

.intro-text {
  max-width: 600px;
  margin: 0 auto 60px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
  color: #fff;
  opacity: .8;
}

.main {
  visibility: visible;
  transition: .5s;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  min-height: 100vh;
}

.res {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  margin: 20px auto 60px;
}

.points {
  list-style: none;
  display: flex;
  padding: 15px 15px;
  margin: 0;
}

.point {
  position: relative;
  width: 10px;
  height: 10px;
  padding: 10px;
  margin-top: -10px;
  border-radius: 50%;
  background-color: #00c49d;
  background: radial-gradient(#00c49d 0%, #00c49d 50%, #ffffff 50%, #ffffff 100%);
  margin-right: 10px;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  transition: .5s;
}

.point:hover {
  box-shadow: inset 0 0 0 2px #ffffff, inset 0 0 0 3px #00c49d;
}

.point::before {
  content: "";
  width: 30px;
  height: 2px;
  position: absolute;
  top: 9px;
  right: 5px;
  background-color: #00c49d;
}

.point:nth-child(1)::before {
  display: none;
}

.activePoint,
.activePoint:hover {
  box-shadow: 0 0 0 2px #00c49d,
              inset 0 0 0 2px #ffffff,
	          inset 0 0 0 3px #00c49d;
}

.score {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

.star {
  width: 40px;
  height: 40px;
  background-image: url(../assets/img/star.svg);
  background-size: 40px 40px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  padding-left: 40px;
  font-size: 24px;
  line-height: 1.4;
  min-width: 200px;
  min-height: 70px;
  margin: 10px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 5px;
  background-color: #fff;
  transition: .3s;
}

.item:hover {
  box-shadow: 0 0 0 1px rgba(255,255,255,.1), 0 2px 4px 0 rgba(14,30,37,.12);
}

.activeItem {
  border: 1px solid rgb(0, 173, 159);
  background-color: rgba(0, 173, 159, .15);
}

.audio-icon {
  position: absolute;
  top: 18px;
  left: 10px;
  width: 34px;
  height: 34px;
}

.audio-icon svg {
  width: 34px;
  height: 34px;
  color: rgba(14, 30, 37, .7);
}

.word,
.translation {
  color: #0e1e25;
  font-size: 22px;
  padding: 0px 5px;
  margin: 0;
}

.transcription {
  color: rgba(14, 30, 37, .7);
  font-size: 18px;
  padding: 0px 5px;
  margin: 0;
}

.translation {
  color: rgba(14, 30, 37, .7);
  text-align: center;
  min-height: 44px;
  margin-bottom: 20px;
}

.img {
  width: 390px;
  height: 260px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 25px rgba(118,118,118,.25);
}

.btns {
  display: flex;
}

.btn {
  display: inline-block;
  margin: 0 auto;
  appearance: none;
  font-size: 24px;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  min-width: 200px;
  color: #fff;
  background: #00c49d;
  border-radius: 4px;
  visibility: visible;
  transition: .15s;
  box-shadow: 0 0 0 1px rgba(255,255,255,.1), 0 2px 4px 0 rgba(14,30,37,.12);
}

.btn.intro-btn {
  font-weight: 300;
}

.btn:hover {
  background: #00c2b2;
}

.btn:focus,
.btn:active {
  outline: 0;
}

.activeBtn {
  background: #009179;
  color: #fff;
  transition: .15s;
}

.activeBtn:hover {
  background: #009179;
  color: #fff;
  transition: .15s;
}

.btn.voice {
  width: 660px;
  margin: 0 30px;
}

.input {
  display: block;
  opacity: 1;
  border: 0;
  border-bottom: 1px solid rgb(206, 212, 218);
  background-color: transparent;
  padding: 5px 20px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 100%;
  height: 50px;
  max-width: 1140px;
  font-size: 20px;
  line-height: 40px;
  color: rgba(14, 30, 37, .7);
  text-align: center;
  font-size: 22px;
  background-image: url(../assets/img/microphone.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px 15px;
}

.input:focus {
  outline-color: #009179;
}

.yes {
  background-image: url(../assets/img/yes.png);
}

.no {
  background-image: url(../assets/img/no.png);
}

.none {
  opacity: 0;
}

.results-container {
  width: 100%;
  max-width: 700px;
  min-height: 770px;
  padding: 40px 100px;
  text-align: left;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(255,255,255,.1), 0 2px 4px 0 rgba(14,30,37,.12);
}

.errors-num {
  background-color: #da5b4c;
  color: #fff;
  padding: 0 14px;
  border-radius: 21px;
  margin-left: 5px;
}

.success-num {
  background-color: #01AF61;
  color: #fff;
  padding: 0 14px;
  border-radius: 21px;
  margin-left: 5px;
}

.results-container .item {
  flex-direction: row;
  min-height: 50px;
  border: 0;
  margin: 0;
  padding: 0 0 0 50px;
  box-shadow: none;
}

.results-container .item .audio-icon {
  top: 8px;
}

.results-container .item .transcription {
  font-size: 22px;
}

.results-container .item .translation {
  margin-bottom: 0;
}

.success-item {
  margin-bottom: 40px;
}

.btns-res {
  margin-bottom: 10px;
}

.btn-res {
  margin: 0;
  font-size: 20px;
  min-width: 160px;
  color: rgba(14, 30, 37, .7);
  background: transparent;
  border: 1px solid rgba(14, 30, 37, .7);
}

.btn-res:nth-child(1) {
  margin-right: 40px;
}

.btn-res:hover {
  background: rgba(60, 70, 97, .1);
}

.btn-res:focus,
.btn-res:active {
  background: rgba(60, 70, 97, .1);
}

.items .item .translation {
  display: none;
}

.results .item .translation {
  min-height: 30px;
  margin-bottom: 0;
}
