.auth-popup {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  z-index: 1000;
  background-color: #3337;

  &__authorization {
    width: 50%;
    margin: 0 auto;
  }

  & .card-panel {
    border-radius: 5px;
  }

  & .input-wrapper {
    padding: 0 20px;
  }

  & .first-line {
    margin: 0 auto;
  }

  & .input-field .validate {
    padding-left: 5px;
  }

  & .buttons-wrapper {
    display: flex;
    justify-content: flex-end;

    & p {
      margin: 0;
    }
  }

  &__button {
    &.cancel-btn.col {
      margin-left: 5px;
    }

    &--link {
      margin: 0;
      border: none;
      background: none;
      cursor: pointer;
      padding: 0;
      text-decoration: underline;
    }
  }
}
