html {
  font-size: 16px;
  box-sizing: border-box;
  @media screen and (max-width: 600px) {
    font-size: 12px;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('./assets/img/savanna-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.main {
  padding: 0px 20px;
  margin: 0 auto;
  height: 100%;
}
.text {
  font-size: 1.7rem;
  padding: 1px 5px;
  color: #2b92e0;
}
.text-answer {
  font-size: 2.3rem;
  color: #2b92e0;
}
.text:hover {
  cursor: pointer;
  background: hsla(0, 0%, 100%, 0.3);
}
.hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.disabled {
  pointer-events: none;
  opacity: 0.3;
}
